In [1]:
import pandas as pd
import numpy as np

In [2]:

df=pd.DataFrame(columns=['outlook','temperature','humidity','windy','play'])

In [4]:
data = [
        ['sunny','hot','high',False, 'No'],
    ['sunny','hot', 'high',True, 'No'],
    ['overcast','hot','high',False, 'Yes'],
    ['rainny','mild','high',False, 'Yes'],
    ['rainny','cool','normal',False, 'Yes'],
    ['rainny','cool','normal',True, 'No'],
    ['overcast','cool','normal',True, 'Yes'],
    ['sunny','mild','high',False, 'No'],
    ['sunny','cool','normal',False, 'Yes'],
    ['rainny','mild','normal',False, 'Yes'],
    ['sunny','mild','normal',True, 'Yes'],
    ['overcast','mild','high',True, 'Yes'],
    ['overcast','hot','normal',False, 'Yes'],
    ['rainny','mild','high',True, 'No'],
       ]

In [10]:
for outlook,tempr,hum,windy,play in data:
#     df.append({'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play},ignore_index=True)
    df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])

C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])
C:\Users\dell\AppData\Local\Temp\ipykernel_13208\814965098.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = pd.concat([df, pd.DataFrame([{'outlook':outlook,'temperature':tempr,'humidity':hum,'windy':windy,'play':play}])])

In [11]:
df.head()

    outlook temperature humidity  windy play
0     sunny         hot     high  False   No
0     sunny         hot     high   True   No
0  overcast         hot     high  False  Yes
0    rainny        mild     high  False  Yes
0    rainny        cool   normal  False  Yes

In [12]:
df_encoded=pd.get_dummies(df)

In [13]:
df_encoded.head()

,outlook_overcast,outlook_rainny,outlook_sunny,temperature_cool,temperature_hot,temperature_mild,humidity_high,humidity_normal,windy_False,windy_True,play_No,play_Yes
0,0,0,1,0,1,0,1,0,1,0,1,0
0,0,0,1,0,1,0,1,0,0,1,1,0
0,1,0,0,0,1,0,1,0,1,0,0,1
0,0,1,0,0,0,1,1,0,1,0,0,1
0,0,1,0,1,0,0,0,1,1,0,0,1

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [18]:
df['play']

0     No
0     No
0    Yes
0    Yes
0    Yes
0     No
0    Yes
0     No
0    Yes
0    Yes
0    Yes
0    Yes
0    Yes
0     No
Name: play, dtype: object

In [21]:
target=df['play']=='Yes'

In [22]:
target

0    False
0    False
0     True
0     True
0     True
0    False
0     True
0    False
0     True
0     True
0     True
0     True
0     True
0    False
Name: play, dtype: bool

In [29]:
X=df_encoded.drop(['play_No','play_Yes'],axis=1)

In [30]:
X

,outlook_overcast,outlook_rainny,outlook_sunny,temperature_cool,temperature_hot,temperature_mild,humidity_high,humidity_normal,windy_False,windy_True
0,0,0,1,0,1,0,1,0,1,0
0,0,0,1,0,1,0,1,0,0,1
0,1,0,0,0,1,0,1,0,1,0
0,0,1,0,0,0,1,1,0,1,0
0,0,1,0,1,0,0,0,1,1,0
0,0,1,0,1,0,0,0,1,0,1
0,1,0,0,1,0,0,0,1,0,1
0,0,0,1,0,0,1,1,0,1,0
0,0,0,1,1,0,0,0,1,1,0
0,0,1,0,0,0,1,0,1,1,0
0,0,0,1,0,0,1,0,1,0,1
0,1,0,0,0,0,1,1,0,0,1
0,1,0,0,0,1,0,0,1,1,0
0,0,1,0,0,0,1,1,0,0,1

In [31]:
Y=df_encoded['play_Yes']

In [32]:
Y

0    0
0    0
0    1
0    1
0    1
0    0
0    1
0    0
0    1
0    1
0    1
0    1
0    1
0    0
Name: play_Yes, dtype: uint8

In [33]:
X_train,X_text,Y_train,Y_test=train_test_split(X,Y,test_size=0.33)

In [34]:
d_tree=DecisionTreeClassifier(criterion='entropy')

In [35]:
d_tree=d_tree.fit(X_train,Y_train)

In [ ]:
from sklearn.